{% load static %}

<div class="col-md-12 sam-event-edit">
    <div class="col-md-12">
        <div class="row">
              <button class="col-md-12 btn sam-event-button thumbnail" href="#" target="_blank">
    بازگشت به صفحه بررسی رویداد‌ها
              </button>
        </div>
      <div class="row">
          <h5><b>
              توضیحات مدیر:
          </b></h5>
      </div>
        <div class="row">
            <textarea class="form-control" rows="10" id="information" name="admin_comment">{{ event.condition_description }}</textarea>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row choices">
                    <label class="col-md-6 label label-success">
                        {% ifequal event.condition 0 %}
                        <input type="radio" id="accept" name="result" checked="check" disabled value="0" />
                        {% else %}
                        <input type="radio" id="accept" name="result" disabled value="0" />
                        {% endifequal %}
تایید
                    </label>

                    <label class="col-md-6 label label-danger">
                        {% ifequal event.condition 1 %}
                        <input type="radio" id="reject" name="result" checked="check" disabled value="1" >
                        {% else %}
                        <input type="radio" id="reject" name="result" disabled value="1" >
                        {% endifequal %}
عدم تایید
                    </label>
                </div>
            </div>
        </div>
        <br/>
    </div>
</div>