{% load static %}

<div class="col-md-12 sam-event-edit">
    <div class="col-md-12">
        <div class="row">
            <a href="/users/show_profile/#checking-events">
              <button class="col-md-12 btn sam-event-button thumbnail">
    بازگشت به صفحه بررسی رویداد‌ها
              </button>
            </a>
        </div>
        <div class="row">
            <a href="/events/delete_event/{{ event.id }}">
              <button class="col-md-12 btn sam-event-button thumbnail" href="#" target="_blank">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  حذف رویداد
              </button>
             </a>
       </div>
        <div class="row">
          <button class="col-md-12 btn sam-event-button thumbnail" href="#" target="_blank">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
ویرایش رویداد
          </button>
       </div>
      <div class="row">
          {% ifequal event.verifiction_file None %}
            <a href="#" title="فایل بارگذاری نشده است.">
          {% else %}
            <a href="{{ event.verification_file.url }}"  target="_blank">
          {% endifequal %}
              <button class="col-md-12 btn sam-event-button thumbnail">
                  <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
    مشاهده مدارک اعتبارسنجی
              </button>
              </a>
      </div>
      <div class="row">
          <h5><b>
    توضیحات مدیر:
          </b></h5>
      </div>
        <form name="admin_comment" method="post" action="/users/admin_comment/" id="admin_comment">
            {% csrf_token %}
            <input type="hidden" value="{{ event.id }}" name="event_id" />
            <div class="row">
                <textarea class="form-control" rows="10" id="information" name="admin_comment">{{ event.condition_description }}</textarea>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row choices">
                        <label class="col-md-6 label label-success">
                        {% ifequal event.condition 0 %}
                        <input type="radio" id="accept" name="result" checked="check" value="0" />
                        {% else %}
                        <input type="radio" id="accept" name="result" value="0" />
                        {% endifequal %}
تایید
                    </label>

                    <label class="col-md-6 label label-danger">
                        {% ifequal event.condition 1 %}
                        <input type="radio" id="reject" name="result" checked="check" value="1" >
                        {% else %}
                        <input type="radio" id="reject" name="result" value="1" >
                        {% endifequal %}
عدم تایید
                    </label>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <button type="submit" class=" col-md-12 btn sam-event-button " name="submit_admin_comment" id="submit_admin_comment">
                    <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                    ارسال
                </button>
            </div>
        </form>
      </div>
</div>