.sam-border {
    border: 0 dotted darkgrey;
}

.sam-align-left {
    text-align: left;
}

.sam-align-left-bold {
    text-align: left;
    font-weight: bold;
}

.sam-align-right {
    text-align: right;
}

.sam-align-right-bold {
    text-align: right;
    font-weight: bold;
}

.sam-event-small-card-detail {
    margin-top: -10px;

}

.sam-event-row-accepted{
    background-color: #8fee80;
    text-align: center;
    border-color: #0a3f16;
    border-radius: 3px;
}

.sam-event-row-rejected{
    background-color: #ff978e;
    text-align: center;
    border-color: #3f0004;
    border-radius: 3px;
}

.thumbnail.sam-event-big-card>div>div:nth-of-type(2)>[class="raty-star"] {
    margin-top: 5px;
    margin-bottom: 10px;
}

.sam-price-place {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}
.sam-price-place>h2 {
    margin: 5px 0;
}
.sam-price-number{
    color: rgb(82,160,82);
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
}

.sam-event-big-card-detail {
    color: #777;
}

.sam-purchase-modal-body {
    padding: 30px;
}