.sam-border {
    border: 1px dotted darkgrey;
}

<<<<<<< HEAD
.sam-align-left {
    text-align: left;
}

.sam-align-left-bold {
    text-align: left;
    font-weight: bold;
}

.sam-align-right {
    text-align: right;
}

.sam-align-right-bold {
    text-align: right;
    font-weight: bold;
=======
.raty-star {
    margin-top: -20px;
>>>>>>> f3323d436441ba32ec903d62ea631bc5e8c4eae9
}