{% extends 'base.html' %}
{% load static %}

{% block right_sidebar %}

    <div class="row">
        {% include 'right_sidebar_profile_admin.html' %}
    </div>
{% endblock %}

{% block main_column %}
    <script>
    $(document).ready(function() {
    if(location.hash) {
        $('a[href=' + location.hash + ']').tab('show');
        setTimeout(function() {

        window.scrollTo(0, 0);
        }, 1);
    }
    $(document.body).on("click", "a[data-toggle]", function(event) {
        location.hash = this.getAttribute("href");
    });
});
$(window).on('popstate', function() {
    var anchor = location.hash || $("a[data-toggle=tab]").first().attr("href");
    $('a[href=' + anchor + ']').tab('show');
});
</script>
    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#add_category" aria-controls="add_category" role="tab" data-toggle="tab">افزودن دسته</a></li>
            <li role="presentation"><a href="#remove_category" aria-controls="remove_category" role="tab" data-toggle="tab">حذف دسته‌</a></li>
            <li role="presentation"><a href="#edit_category" aria-controls="edit_category" role="tab" data-toggle="tab">ویرایش دسته‌</a></li>
            <li role="presentation"><a href="#report" aria-controls="report" role="tab" data-toggle="tab"> گزارش </a></li>
            <li role="presentation"><a href="#checking-events" aria-controls="checking-events" role="tab" data-toggle="tab">رویداهای منتظر بررسی</a></li>
            <li role="presentation"><a href="#events" aria-controls="events" role="tab" data-toggle="tab">لیست رویدادها</a></li>
            <li role="presentation"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">لیست کاربران</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="add_category">{% include 'admin_profile_parts/add_category.html' %}</div>
            <div role="tabpanel" class="tab-pane" id="remove_category">{% include 'admin_profile_parts/remove_category.html' %}</div>
            <div role="tabpanel" class="tab-pane" id="edit_category">{% include 'admin_profile_parts/edit_category.html' %}</div>
            <div role="tabpanel" class="tab-pane" id="report"> {% include 'admin_profile_parts/report.html' %} </div>
            <div role="tabpanel" class="tab-pane" id="checking-events">{% include 'admin_profile_parts/checking-events.html' with allevents=allevents %}</div>
            <div role="tabpanel" class="tab-pane" id="events">{% include 'admin_profile_parts/events.html' with allevents=allevents %}</div>
            <div role="tabpanel" class="tab-pane" id="users">{% include 'admin_profile_parts/users.html' with allevents=allevents allusers=allusers %}</div>
        </div>

    </div>
{% endblock %}