{% extends 'base.html' %}
{% load static %}

{% block right_sidebar %}

    <div class="row">
        {% include 'right_sidebar_profile_admin.html' %}
    </div>
{% endblock %}

{% block main_column %}
    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#add_category" aria-controls="add_category" role="tab" data-toggle="tab">افزودن دسته</a></li>
            <li role="presentation"><a href="#report" aria-controls="report" role="tab" data-toggle="tab"> گزارش </a></li>
            <li role="presentation"><a href="#checking-events" aria-controls="checking-events" role="tab" data-toggle="tab">تأیید رویدادها</a></li>
            <li role="presentation"><a href="#events" aria-controls="events" role="tab" data-toggle="tab">لیست رویدادها</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="add_category">{% include 'admin_profile_parts/add_category.html' %}</div>
            <div role="tabpanel" class="tab-pane" id="report"> {% include 'admin_profile_parts/report.html' %} </div>
            <div role="tabpanel" class="tab-pane" id="checking-events">{% include 'admin_profile_parts/checking-events.html' %}</div>
            <div role="tabpanel" class="tab-pane" id="events">{% include 'admin_profile_parts/events.html' %}</div>
        </div>

    </div>
{% endblock %}