{% load static %}

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'frameworks/bootstrap-rtl/bootstrap/docs/favicon.ico' %}">

    <title>{% block page_title %} سامانه‌ی خرید اینترنتی سام{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'frameworks/bootstrap-rtl/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap RTL theme -->
    <link href="{% static 'frameworks/bootstrap-rtl/dist/css/bootstrap-rtl.min.css' %}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static 'frameworks/bootstrap-rtl/bootstrap/dist/css/bootstrap-theme.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'frameworks/bootstrap-rtl/examples/rtl/rtl.css' %}" rel="stylesheet">

    <!-- style for raty -->
    <link href="{% static 'frameworks/raty/lib/jquery.raty.css' %}" rel="stylesheet">

    <link href="{% static 'css/main_style_sheet.css' %}" rel="stylesheet">
    <!-- GOOGLE MAP -->
    {% block google_map_hdr %} {% endblock %}
    <!-- END OF GOOGLE MAP -->
    {% block head_tail %} {% endblock %}
</head>

<body role="document">

<!-- Fixed navbar -->
{% include "nav_bar_login.html" %}

<div class="container theme-showcase" role="main">
    <div class="row">
        <div class="clearfix">
            <div class="col-md-3 sam-sidebar-column-padding">
                {% block right_sidebar %} {% endblock %}
            </div>
            <div class="col-md-9 sam-main-column-padding">
                {% block main_column %} {% endblock %}
            </div>
        </div>
    </div>
    <!--
    <div class="row">
        {% block footer %}
            <div class="col-md-3 sam-border">
                نمونه‌ای از سمت راست فوتر در فایل base.html
            </div>
            <div class="col-md-4 col-md-offset-5 sam-border">
                نمونه‌ای از سمت چپ فوتر در فایل base.html
            </div>
        {% endblock %}
    </div>
    -->
</div>
<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'jquery-1.11.1.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'frameworks/bootstrap-rtl/bootstrap/dist/js/bootstrap.min.js' %}" type="text/javascript"
        charset="utf-8"></script>
<script src="{% static 'frameworks/bootstrap-rtl/bootstrap/docs/assets/js/docs.min.js' %}" type="text/javascript"
        charset="utf-8"></script>
<script src="{% static 'frameworks/raty/lib/jquery.raty.js' %}"></script>

{% block body_tail %} {% endblock %}
</body>
</html>
