{% load static %}

<div class="col-md-4 sam-border">
    <div class="thumbnail">
        <img class="img-responsive img-rounded" src="{{ event.first_picture.picture.url }}" />

        <div class="caption">
            <a href="/events/event_cards/">
                <h4> {{ event.name }}
                    <small class="badge"> {{ event.neighborhood }}</small>
                </h4>
            </a>
        </div>
        <div class="row sam-event-small-card-detail">
            <div class="col-md-6 ">
                <div class="raty-star"></div>
            </div>
            <div class="col-md-3 col-md-offset-3 ">
                {{ event.sold_tickets_number }} <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            </div>
        </div>

    </div>
</div>