{% extends 'base.html' %}
{% load static %}

{% block main_column %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-12 thumbnail">
        <div class="row">

            <div class="col-md-2">
                <img class="img-responsive img-rounded" src="{% static 'tmp_media/music.jpg' %}"/>
            </div>
            <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-3">
                            <h5>۱۳۹۴/۸/۲۷</h5>
                        </div>
                        <div class="col-md-9">
                            <div class="col-md-2">
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                            </div>
                            <h5>سالن برج میلاد</h5>
                        </div>
                    </div>
                    <h4>کنسرت رضا یزدانی</h4>
            </div>

            <div class="col-md-2">
                <h5>قیمت بلیت</h5>
                <div class="row">
                    <div class="col-md-12">
                        <h4>۱۲۰۰۰۰ تومان</h4>
                    </div>
                </div>
            </div>
            {% block numberOfItems %}
            <div class="col-md-2">
                <h5>تعداد بلیت‌ها</h5>
                <div class="row">
                    <div class="col-md-12">
                        <h4>۳۰۰ عدد</h4>
                    </div>
                </div>
            </div>
            {% endblock %}
            <div class="col-md-2">
                <h5>فروشنده</h5>
                <div class="row">
                    <div class="col-md-12">
                        <h4>ایران کنسرت</h4>
                    </div>
                </div>
            </div>
            {% block lastcell %}
            {%  endblock %}
        </div>
    </div>
</div>
{% endblock %}