{% extends 'base.html' %}
{% load static %}

{% block main_column %}
<div class="row">
    <div class="col-md-3 sam-border">
        <div class="thumbnail">
            <img class="img-responsive img-rounded" src="{% static 'tmp_media/music.jpg' %}"/>
            <div class="caption"> <h4> نام رویداد <small class="badge"> محله </small></h4></div>
            <div class="row">
                <div class="col-md-offset-5">
                    <div class="raty-star"> </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"> محله </div>
                <div class="col-md-4 col-md-offset-4"> از  </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 sam-border">
        <div class="panel panel-success">
            <div class="panel-heading">
                <img class="img-responsive img-rounded" src="{% static 'tmp_media/music.jpg' %}"/>
            </div>
            <div class="raty-star"> </div>
            <div class="panel-body">
                au
            </div>
        </div>
    </div>
{% endblock %}

{% block body_tail %}
<script>
    $.fn.raty.defaults.path = "{% static 'frameworks/raty/lib/images' %}";
    $('.raty-star').raty();
</script>
{% endblock %}
