{% load static %}
{% load farsi_num %}

<div class="col-md-12 thumbnail">
    <div class="row">
        <div class="col-md-2">
            <a href= {% url 'events:event_view' event.id %}>
            <img class="img-responsive img-rounded" src="{{ event.first_picture.picture.url }}"/>
            </a>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-3">
                    <h5>{{ event.first_date | farsi_num}}</h5>
                </div>
                <div class="col-md-9">
                    <div class="col-md-2">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    </div>
                    <h5>{{ event.neighborhood | farsi_num }}</h5>
                </div>
            </div>
            <a href= {% url 'events:event_view' event.id %}>
            <h4>{{ event.name }}</h4>
            </a>
        </div>
        {% block price %}
            <div class="col-md-2">
                <h5>قیمت بلیت</h5>
                <div class="row">
                    <div class="col-md-12">
                        <h4> {{ event.cheapest_ticket |farsi_num}} تومان</h4>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block numberOfItems %}
            <div class="col-md-2">
                <h5>تعداد بلیت‌ها</h5>
                <div class="row">
                    <div class="col-md-12">
                        <h4>{{ event.total_number_of_tickets | farsi_num}} تا</h4>
                    </div>
                </div>
            </div>
        {% endblock %}
        <div class="col-md-2">
            <h5>فروشنده</h5>
            <div class="row">
                <div class="col-md-12">
                    {% if event.dealer.name|length > 0 %}
                        <h4>{{ event.dealer.name |farsi_num}}</h4>
                    {% else %}
                        <h4>-</h4>
                    {% endif %}
                </div>
            </div>
        </div>
        {% block lastcell %}
        {%  endblock %}
    </div>
</div>