{% load static %}

<div class="col-md-12 sam-border">
    <div class="thumbnail">
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="{% static 'tmp_media/music.jpg' %}"/>
            </div>
            <div class="col-md-4 sam-border">
                <div class="row">
                    <div class="col-md-11">
                        <ol class="breadcrumb">
                  <li><a href="#"> موسیقی </a></li>
                  <li><a href="#"> کنسرت پاپ </a></li>
                </ol>
                    </div>
                </div>

                <h1>نام رویداد <small class="badge"> محله </small></h1>
            </div>
        </div>
    </div>
</div>