{% load static %}

<div class="col-md-12 sam-border">
    <div class="thumbnail sam-event-big-card">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-7">
                    <div class="row">
                        <div class="sam-information">

                            <h5 class="sam-info-title">
                               <span class="glyphicon glyphicon-pushpin sam-info-title" aria-hidden="true"></span>
                                توضیحات
                            </h5>
                            <p>{{event.description}}</p>
                            <!--<h5 class="sam-info-title">
                               <span class="glyphicon glyphicon-phone-alt sam-info-title" aria-hidden="true"></span>
شماره تماس:
                            </h5>
                            <p>شعبه یک (ونک) -------------- ۰۲۱-۷۷۹۷۱۲۳۳</p>
                            <p>شعبه دو (تهران پارس) ---------- ۰۲۱-۸۸۹۰۱۲۱۲</p>-->
                             <h5 class="sam-info-title">
                               <span class="glyphicon glyphicon-briefcase sam-info-title" aria-hidden="true"></span>
فروشنده:
                            </h5>
                            {% if event.dealer.name|length > 0 %}
                              <p>{{ event.dealer.name }}</p>
                            {% else %}
                              <p>نامشخص</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-10 popover top static-popover sam-map-box sam-float-left" id="testPopover">
                            <div class="arrow"></div>
                            <h3 class="popover-title sam-map-title sam-map-title-box">
                                <span class="glyphicon glyphicon-map-marker sam-map-content" aria-hidden="true"></span>
                                آدرس
                            </h3>
                            <div class="popover-content sam-map-content">
                                <p>{{ event.address }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-10 sam-google-map-box">
                           <div class="map_container sam-float-left">
                              <div id="googleMap" class="map_canvas"></div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>