{% load farsi_num %}

<div class="col-md-12 sam-border">
    <div class="thumbnail sam-event-big-card">
        <div class="row">
            <div class="col-md-8">
                <div id="carousel-event-big-card" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        {% for image in event.eventpicture_set.all %}
                        {% if forloop.counter0 == 0 %}
                        <li data-target="#carousel-event-big-card" data-slide-to="0" class="active"></li>
                        {% endif %}
                        {% if forloop.counter0 != 0 %}
                        <li data-target="#carousel-event-big-card" data-slide-to="{{forloop.counter0}}"></li>
                        {% endif %}
                        {% endfor %}
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        {% for image in event.eventpicture_set.all %}
                        {% if forloop.counter0 == 0 %}
                        <div class="item active">
                            <a href= {% url 'events:event_view' event.id %}>
                               <img src="{{ image.picture.url }}">
                            </a>
                        </div>
                        {% endif %}
                        {% if forloop.counter0 != 0 %}
                        <div class="item">
                            <a href= {% url 'events:event_view' event.id %}>
                                <img src="{{ image.picture.url }}">
                            </a>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-event-big-card" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-event-big-card" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4 sam-border">
                <ol class="breadcrumb">
                    <li><a href="{% url 'events:show_subcategory' event.subcategory.category.id 0 %}">{{event.category}}</a></li>
                    <li><a href="{% url 'events:show_subcategory' event.subcategory.category.id event.subcategory.id%}">{{event.subcategory.name}}</a></li>
                </ol>
                <h2>
                    <a href= {% url 'events:event_view' event.id %}>
                        {{event.name | farsi_num}} <small class="badge">{{event.neighborhood | farsi_num}}</small>
                    </a>
                </h2>
                <br>
                <div class="sam-event-big-card-detail">
                    <div class="row">
                        <div class="col-md-2 ">
                            <h2><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></h2>
                        </div>
                        <div class="col-md-4">
                            <h2>{{event.sold_tickets_number | farsi_num}}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <h2><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></h2>
                        </div>
                        <div class="col-md-4">
                            <h2>{{event.first_date|farsi_num}}</h2>
                        </div>
                    </div>
                </div>
                <div id="event_score" class="raty-star"> </div>
                <div class="sam-price-place">
                    <h2><small>
                        از
                        </small>
                        <span class="sam-price-number">
                        {{event.cheapest_ticket|farsi_num}}
                        </span>
                        <small>
                        تومان
                        </small>
                    </h2>
                </div>
                {% if request.user.is_authenticated %}
                <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#price-details">
                خرید کنید
                </button>
                {% endif %}
                {% if not request.user.is_authenticated %}
                <a href="{% url 'users:login' %}">
                    <button type="button" class="btn btn-success btn-lg btn-block">
                     خرید کنید
                    </button>
                </a>
                {% endif %}
                <!-- Modal -->
                <div class="modal fade" id="price-details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <h4 class="modal-title" id="myModalLabel">{{event.name}}</h4>
                            </div>
                            <form id="pay" name="pay" method="post" action="{% url 'users:payment' %}">
                                {% csrf_token %}
                                <div class="modal-body sam-purchase-modal-body">
                                {% for type in ticket_types %}
                                    {% include 'event_row_parts/event_row_purchase.html' with price=type.price ticket_type=type %}
                                {% endfor %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">انصراف</button>
                                    <button type="submit" class="btn btn-success">پرداخت</button>
                                    <input type="hidden" id="event_{{event.id}}" name="event_id" value="{{event.id}}">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>