<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div class="responsive row">
            <div class="row">
                <div class="col-md-4 sam-align-right">
                    <h5>
                        حق طبع و نشر
                    </h5>
                    <h5>
                        استفاده از مطالب سایت سام فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است.
                    </h5>
                    <h5>
                        کلیه حقوق این سایت متعلق به شرکت سامانه‌پردازان سام می‌باشد.
                    </h5>
                </div>
                <div class="col-md-4 sam-align-center">
                </div>
                <div class="col-md-4 sam-align-left">
                    <h5>
                        تماس با ما
                    </h5>
                    <h5>
                        آدرس: تهران، خیابان آزادی، دانشگاه صنعتی شریف، دانشکده مهندسی کامپیوتر
                    </h5>
                    <h5>
                        تلفن: ۶۶۶۵۲۲۲۳-۰۲۱
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 sam-align-center">
                    <h6>
                        Copyright
                        <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
                        2015-2017 Saam
                    </h6>
                </div>
            </div>
        </div>
    </body>
</html>
