{% extends 'base.html' %}
{% load static %}

{% block main_column %}
    <div class="row">
        {% include 'event_big_card.html' %}
    </div>
    <div class="well">
        <h3>جدیدترین ها</h3>

        <div class="row">
            <div class="col-md-4 sam-border">
                {% include 'event_small_card.html' %}
            </div>
            <div class="col-md-4 sam-border">
                {% include 'event_small_card.html' %}
            </div>
            <div class="col-md-4 sam-border">
                {% include 'event_small_card.html' %}
            </div>
            <div class="col-md-4 sam-border">
                {% include 'event_small_card.html' %}
            </div>
            <div class="col-md-4 sam-border">
                {% include 'event_small_card.html' %}
            </div>
            <div class="col-md-4 sam-border">
                {% include 'event_small_card.html' %}
            </div>
            <div class="col-md-4 sam-border">
                {% include 'event_small_card.html' %}
            </div>
            <div class="col-md-4 sam-border">
                {% include 'event_small_card.html' %}
            </div>
        </div>
    </div>
    <div class="well">
        <h3>محبوب ترین ها</h3>

        <div class="row">
            <div class="col-md-4 sam-border">
                {% include 'event_small_card.html' %}
            </div>
            <div class="col-md-4 sam-border">
                {% include 'event_small_card.html' %}
            </div>
            <div class="col-md-4 sam-border">
                {% include 'event_small_card.html' %}
            </div>
            <div class="col-md-4 sam-border">
                {% include 'event_small_card.html' %}
            </div>
            <div class="col-md-4 sam-border">
                {% include 'event_small_card.html' %}
            </div>
            <div class="col-md-4 sam-border">
                {% include 'event_small_card.html' %}
            </div>
            <div class="col-md-4 sam-border">
                {% include 'event_small_card.html' %}
            </div>
            <div class="col-md-4 sam-border">
                {% include 'event_small_card.html' %}
            </div>
        </div>
    </div>
    <div class="well">
        <h3>پرفروش ترین ها</h3>

        <div class="row">
            <div class="col-md-4 sam-border">
                {% include 'event_small_card.html' %}
            </div>
            <div class="col-md-4 sam-border">
                {% include 'event_small_card.html' %}
            </div>
            <div class="col-md-4 sam-border">
                {% include 'event_small_card.html' %}
            </div>
            <div class="col-md-4 sam-border">
                {% include 'event_small_card.html' %}
            </div>
            <div class="col-md-4 sam-border">
                {% include 'event_small_card.html' %}
            </div>
            <div class="col-md-4 sam-border">
                {% include 'event_small_card.html' %}
            </div>
            <div class="col-md-4 sam-border">
                {% include 'event_small_card.html' %}
            </div>
            <div class="col-md-4 sam-border">
                {% include 'event_small_card.html' %}
            </div>
        </div>
    </div>
{% endblock %}