{% extends 'base.html' %}
{% load static %}
{% block right_sidebar %}
    {% include 'right_sidebar_menu.html' with categories=categories %}
{% endblock%}
{% block main_column %}
<div class="row">
    {% include 'event_big_card.html' with event=event types=types%}
</div>
<div class="well">
    <h3>جدیدترین‌ها</h3>
    <div class="row">
        {% for event in newevents %}
        <div class="col-md-4 sam-border">
            {% include 'event_small_card.html' with event=event %}
        </div>
        {% endfor %}
    </div>
</div>
<div class="well">
    <h3>محبوب‌ترین‌ها</h3>
    <div class="row">
        {% for event in popularevents %}
        <div class="col-md-4 sam-border">
            {% include 'event_small_card.html' with event=event %}
        </div>
        {% endfor %}
    </div>
</div>
<div class="well">
    <h3>پرفروش‌ترین‌ها</h3>
    <div class="row">
        {% for event in topsellerevents %}
        <div class="col-md-4 sam-border">
            {% include 'event_small_card.html' with event=event %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
