{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <link rel="shortcut icon" href="{% static 'frameworks/bootstrap-rtl/bootstrap/docs/favicon.ico' %}">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'frameworks/bootstrap-rtl/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap RTL theme -->
    <link href="{% static 'frameworks/bootstrap-rtl/dist/css/bootstrap-rtl.min.css' %}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static 'frameworks/bootstrap-rtl/bootstrap/dist/css/bootstrap-theme.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'frameworks/bootstrap-rtl/examples/rtl/rtl.css' %}" rel="stylesheet">

    <link href="{% static 'css/main_style_sheet.css' %}" rel="stylesheet">

</head>
<body>
<div class="row"></div>
<div class="col-md-6 col-md-offset-3">

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>کنسرت رضا یزدانی</th>
            <th>26 مرداد</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>خریدار</td>
            <td>خریدارنده</td>
        </tr>
        <tr>
            <td>شرکت فروشنده</td>
            <td>قروشنده</td>
        </tr>
        <tr>
            <td>قیمت</td>
            <td>120000 تومان</td>
        </tr>
        <tr>
            <td>صندلی</td>
            <td>ردیف 12، صندلی 4</td>
        </tr>
        </tbody>
    </table>
</div>
</body>