{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <link rel="shortcut icon" href="{% static 'frameworks/bootstrap-rtl/bootstrap/docs/favicon.ico' %}">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'frameworks/bootstrap-rtl/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap RTL theme -->
    <link href="{% static 'frameworks/bootstrap-rtl/dist/css/bootstrap-rtl.min.css' %}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static 'frameworks/bootstrap-rtl/bootstrap/dist/css/bootstrap-theme.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'frameworks/bootstrap-rtl/examples/rtl/rtl.css' %}" rel="stylesheet">

    <link href="{% static 'css/main_style_sheet.css' %}" rel="stylesheet">

</head>
<body>
<div class="row"></div>
<div class="col-md-6 col-md-offset-3">
    {% for ticket in tickets %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>{{ticket.event.name}}</th>
                <th>{{ticket.event.neighborhood}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>خریدار</td>
                <td>{{ticket.order.customer.userInfo.user.get_full_name}}</td>
            </tr>
            <tr>
                <td>شرکت فروشنده</td>
                <td>{{ticket.event.dealer.userInfo.user.username}}</td>
            </tr>
            <tr>
                <td>قیمت</td>
                <td>{{ticket.type.price}} تومان</td>
            </tr>
            <tr>
                <td>صندلی</td>
                <td>ردیف {{ticket.row}}، صندلی {{ticket.column}}</td>
            </tr>
            </tbody>
        </table>
        <br>
    {% endfor %}
</div>
</body>