<div class="row">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">آدرس ایمیل</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="ایمیل">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">رمز عبور</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="رمز عبور">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword2">تایید رمز عبور</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="تایید رمز عبور">
        </div>
        <button type="submit" class="btn btn-success">ثبت نام</button>
    </form>
</div>