{% extends 'right_sidebar_profile.html' %}
{% load static %}
{% block image %}
    <img class="img-responsive img-circle" src="{% static 'tmp_media/semantic_ui_default_avatar/jenny.jpg' %}">
{% endblock %}
{% block info %}
    <h3> {{ user.username }} </h3>
    {{ user.userInfo.datetime }}
    <div class="row">
        <div class="col-md-4 sam-align-left-bold">
            نام کاربری
        </div>
        <div class="col-md-8 sam-align-right">
      خریدار
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 sam-align-left-bold">
            ایمیل
        </div>
        <div class="col-md-8 sam-align-right">
            test@gmail.com
        </div>
    </div>
    <div class="row">

        <div class="col-md-4 sam-align-left-bold">
    تلفن
        </div>
        <div class="col-md-8 sam-align-right">
            09111111111
        </div>
    </div>

    <div class="row">

        <div class="col-md-4 sam-align-left-bold">
  آدرس
        </div>
        <div class="col-md-8 sam-align-right">
تهران
        </div>
    </div>
{% endblock %}