{% extends 'right_sidebar_profile.html' %}
{% load static %}

{% block image %}
    <img class="img-responsive img-circle" src="{% static 'tmp_media/semantic_ui_default_avatar/christian.jpg' %}">
{% endblock %}
{% block info %}
    <h3>آرش پورضرابی</h3>
    <div class="row">
        <div class="col-md-4 sam-align-left-bold">
            نام کاربری
        </div>
        <div class="col-md-8 sam-align-right">
            {{user.username}}
        </div>
    </div>
{% endblock %}
{% block button %}
{% endblock %}