<div class="panel-group" id="accordion">
    <div class="panel panel-default" id="cat1">
        <div class="panel-heading">
            <div class="row">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <div class="col-md-12">
                    <span class="glyphicon glyphicon-stop">
                    </span>موسیقی
                    </div>
                </a>
            </h4>
            </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">
                            <div class="col-md-12">
                            <span class="glyphicon glyphicon-minus text-primary"></span>همه
                            </div>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">
                            <div class="col-md-12">
                            <span class="glyphicon glyphicon-minus text-primary"></span>کنسرت‌های موسیقی سنتی
                            </div>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">
                            <div class="col-md-12">
                            <span class="glyphicon glyphicon-minus text-primary"></span>کنسرت‌های پاپ
                            </div>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">
                            <div class="col-md-12">
                            <span class="glyphicon glyphicon-minus text-primary"></span>کنسرت‌های راک
                            </div>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">
                            <div class="col-md-12">
                            <span class="glyphicon glyphicon-minus text-primary"></span>کنسرت‌های موسیقی غربی
                            </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default"  id="cat2">
        <div class="panel-heading">
            <div class="row">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    <div class="col-md-12">
                    <span class="glyphicon glyphicon-stop">
                    </span>تئاتر
                    </div>
                </a>
            </h4>
            </div>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">
                            <div class="col-md-12">
                            <span class="glyphicon glyphicon-minus text-primary"></span>همه
                            </div>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">
                            <div class="col-md-12">
                            <span class="glyphicon glyphicon-minus text-primary"></span>تئاتر‌های درام
                            </div>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">
                            <div class="col-md-12">
                            <span class="glyphicon glyphicon-minus text-primary"></span>تئاتر‌های کمدی
                            </div>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">
                            <div class="col-md-12">
                            <span class="glyphicon glyphicon-minus text-primary"></span>تئاتر‌های تراژدی
                            </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default" id="cat3">
        <div class="panel-heading">
            <div class="row">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    <div class="col-md-12">
                    <span class="glyphicon glyphicon-stop">
                    </span>سینما
                    </div>
                </a>
            </h4>
            </div>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">
                            <div class="col-md-12">
                            <span class="glyphicon glyphicon-minus text-primary"></span>همه
                            </div>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">
                            <div class="col-md-12">
                            <span class="glyphicon glyphicon-minus text-primary"></span>انیمیشن‌ها
                            </div>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">
                            <div class="col-md-12">
                            <span class="glyphicon glyphicon-minus text-primary"></span>فیلم‌های رمانتیک
                            </div>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">
                            <div class="col-md-12">
                            <span class="glyphicon glyphicon-minus text-primary"></span>فیلم‌های ماجراجویانه
                            </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default" id="cat4">
        <div class="panel-heading">
            <div class="row">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                    <div class="col-md-12">
                    <span class="glyphicon glyphicon-stop">
                    </span>ورزش
                    </div>
                </a>
            </h4>
            </div>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">
                            <div class="col-md-12">
                            <span class="glyphicon glyphicon-minus text-primary"></span>مسابقات فوتبال
                            </div>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">
                            <div class="col-md-12">
                            <span class="glyphicon glyphicon-minus text-primary"></span>مسابقات والیبال
                            </div>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">
                            <div class="col-md-12">
                            <span class="glyphicon glyphicon-minus text-primary"></span>مسابقات بسکتبال
                            </div>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">
                            <div class="col-md-12">
                            <span class="glyphicon glyphicon-minus text-primary"></span>همه
                            </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default" id="cat5">
        <div class="panel-heading">
            <div class="row">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                    <div class="col-md-12">
                    <span class="glyphicon glyphicon-stop">
                    </span>هنر‌های تجسمی
                    </div>
                </a>
            </h4>
            </div>
        </div>
        <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">
                            <div class="col-md-12">
                            <span class="glyphicon glyphicon-minus text-primary"></span>نمایشگاه‌های عکس
                            </div>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">
                            <div class="col-md-12">
                            <span class="glyphicon glyphicon-minus text-primary"></span>نمایشگاه‌های مجسمه
                            </div>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">
                            <div class="col-md-12">
                            <span class="glyphicon glyphicon-minus text-primary"></span>نمایشگاه‌های نقاشی
                            </div>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">
                            <div class="col-md-12">
                            <span class="glyphicon glyphicon-minus text-primary"></span>همه
                            </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
<div class="col-md-12 sam-border">
    {% include 'event_small_card.html' %}
</div>
<div class="col-md-12 sam-border">
    {% include 'event_small_card.html' %}
</div>
<div class="col-md-12 sam-border">
    {% include 'event_small_card.html' %}
</div>
<div class="col-md-12 sam-border">
    {% include 'event_small_card.html' %}
</div>
<div class="col-md-12 sam-border">
    {% include 'event_small_card.html' %}
</div>
</div>


