<!-- Modal -->
<div class="modal fade" id="SignupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabe2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabe2"><i class=" ico-user" style="margin-top:-12px">
                </i>

                    <div style="width:100px;font-size:20px; margin-left:45px;">ثبت نام</div>
                </h4>
            </div>
            <div class="modal-body sam-purchase-modal-body">
                {% include "register_user.html" %}
            </div>
        </div>
    </div>
</div>


