<br>
<div class="row">
    <div class="col-md-5">
        <form name="add_category" method="post" action="/users/add_subcategory/">
        {% csrf_token %}
            {{ form1 }}
            <button type="submit" class="btn btn-success" name="add_subcat">ثبت زیردسته‌ی جدید</button>
        </form>
    </div>

    <div class="col-md-5 col-md-offset-2">
        <form name="add_category" method="post" action="/users/add_category/">
        {% csrf_token %}
            {{ form2 }}
            <button type="submit" class="btn btn-success" name="add_cat">ثبت دسته‌ی جدید</button>
        </form>
    </div>

</div>