<br>
<form class="form">
    <div class="form-inline">
        <div class="form-group">
            <label for="report-type">نوع گزارش</label>
            <select class="form-control" id="report-type">
                <option> گزارش فروش کل </option>
                <option> گزارش فروش دسته </option>
                <option> گزارش فروش زیردسته</option>
                <option>گزارش فروش بر حسب زمان</option>
            </select>
        </div>
    </div>
    <br>
    <div class="form-inline">
        <div class="form-group">
            <label for="category"> دسته </label>
            <select class="form-control" id="category" disabled>
                <option> کنسرت </option>
                <option> تئاتر </option>
                <option> سینما </option>
            </select>
        </div>
    </div>
    <br>
    <div class="form-inline">
        <div class="form-group">
            <label for="from"> از </label>
            <input type="date" class="form-control" id="from" placeholder="از" disabled>
            <label for="to"> تا </label>
            <input type="date" class="form-control" id="to" placeholder="تا" disabled>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-success">دریافت گزارش</button>
</form>

<div class="row">
    <br>
    {% include 'event_row_parts/event_row_report_buy.html' %}
    {% include 'event_row_parts/event_row_report_buy.html' %}
    {% include 'event_row_parts/event_row_report_buy.html' %}
    {% include 'event_row_parts/event_row_report_buy.html' %}

</div>