<script type="text/javascript">
    function configureDropDownLists(ddl1,ddl2) {
        console.log('changed' + ddl1.value);
        switch (ddl1.value) {
            {% for category in categories %}
            case "{{ category.id }}":
                ddl2.options.length = 0;
                {% for subcat in category.subcategory_set.all %}
                    createOption(ddl2, "{{ subcat.name }}", {{ subcat.id }});
                {% endfor %}
                break;
            {% endfor %}
        }

    }

    function createOption(ddl, text, value) {
        console.log('option created: ' + text + " " + value);
        var opt = document.createElement('option');
        opt.value = value;
        opt.text = text;
        ddl.options.add(opt);
    }
</script>




<form>
    <div class="form-inline">
        <div class="form-group">
            <label for="category"> دسته </label>
            <select name="category" class="form-control" id="category" onchange="configureDropDownLists(this,document.getElementById('subcategory'))">
                {% for category in categories %}
                    <option value="{{ category.id }}"> {{ category.name }} </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <br>
    {% with categories.all|first as first_category %}
        <div class="form-inline">
            <div class="form-group">
                <label for="category">زیردسته</label>
                <select name="category" class="form-control" id="subcategory">

                    {% for subcat in first_category.subcategory_set.all %}
                        <option value="{{ subcat.id }}"> {{ subcat.name }} </option>
                    {% endfor %}

                </select>
            </div>
        </div>
    {% endwith %}
    <br>

    <div class="form-group">
        <label for="exampleInputEmail1">نام رخداد</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="نام رخداد">
    </div>
    <input type="date" class="form-control" id="start_data" placeholder="تاریخ شروع">
    <br>
    <br>
    <div class="form-inline">
    <label for="price"> قیمت</label>
    <input type="text" class="form-control" id="price">

    <label for="count">تعداد</label>
    <input type="text" class="form-control" id="count">

    <div id="add-ticket-type" class="btn btn-info"> افزودن نوع بلیط </div>
    </div>

    <div>
        <ul id="sam-ticket-types">

        </ul>
    </div>
    <br>

    <a href="/users/test/home/user/">
        <div class="btn btn-success">ثبت</div>
    </a>
</form>

