<form>
    <div class="form-inline">
        <div class="form-group">
            <label for="category"> دسته </label>
            <select class="form-control" id="category" disabled>
                <option> کنسرت</option>
            </select>
        </div>
    </div>
    <br>

    <div class="form-inline">
        <div class="form-group">
            <label for="category">زیردسته</label>
            <select class="form-control" id="category" disabled>
                <option> پاپ</option>
                <option> سنتی</option>
                <option> راک</option>
            </select>
        </div>
    </div>
    <br>

    <div class="form-group">
        <label for="exampleInputEmail1">نام رخداد</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="نام رخداد">
    </div>
    <input type="date" class="form-control" id="start_data" placeholder="تاریخ شروع">
    <a href="/users/test/home/user/">
        <div class="btn btn-success">ورود</div>
    </a>

</form>
