{% load farsi_num %}
<script type="text/javascript">
    function configureDropDownLists(ddl1,ddl2) {
        switch (ddl1.value) {
            {% for category in categories %}
            case "{{ category.id }}":
                ddl2.options.length = 0;
                {% for subcat in category.subcategory_set.all %}
                    createOption(ddl2, "{{ subcat.name }}", {{ subcat.id }});
                {% endfor %}
                break;
            {% endfor %}
        }

    }

    function createOption(ddl, text, value) {
        var opt = document.createElement('option');
        opt.value = value;
        opt.text = text;
        ddl.options.add(opt);
    }
</script>




<form name="register_event" method="post" action="{% url 'events:register_event' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-inline">
        <div class="form-group">
            <label for="category"> دسته </label>
            <select name="category" class="form-control" id="category" onchange="configureDropDownLists(this,document.getElementById('subcategory'))">
                {% for category in categories %}
                    <option value="{{ category.id }}"> {{ category.name }} </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <br>
    {% with categories.all|first as first_category %}
        <div class="form-inline">
            <div class="form-group">
                <label for="category">زیردسته</label>
                <select name="subcategory" class="form-control" id="subcategory">

                    {% for subcat in first_category.subcategory_set.all %}
                        <option value="{{ subcat.id }}"> {{ subcat.name }} </option>
                    {% endfor %}

                </select>
            </div>
        </div>
    {% endwith %}
    </br>
    {{ eventform }}
    </br>
    <div id="add-ticket-type" class="btn btn-info"> افزودن نوع بلیط </div>

    <div>
        <ul id="sam-ticket-types">

        </ul>
    </div>
    <br>

    <div id="add-picture" class="btn btn-info">افزودن تصویر</div>

    <div>
        <ul id="sam-pictures">

        </ul>
    </div>

    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-success col-md-12"> ثبت </button>
            </div>
        </div>
    </div>
    <div><h5></h5></div>
</form>

