{% extends 'base.html' %}

{% block main_column %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        {% if login_errors %}
            <div class="alert alert-danger" role="alert"> {{ login_errors }}</div>
        {% endif %}
        <form name="login" method="post" action="/users/login/">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">نام کاربری</label>
                <input type="text" name="username" class="form-control" id="exampleInputEmail1" placeholder="نام کاربری">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">رمز عبور</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                       placeholder="رمز عبور">
            </div>
            <button type="submit" class="btn btn-success">ورود</button>
        </form>
    </div>
</div>

{% endblock %}
